<table class="table child table-striped">
  <thead>
    <tr>
      <th *ngFor="let h of headers" scope="col">{{ h }}</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let item of node">
      <tr>
        <td *ngFor="let field of headers; let i = index">
          <button (click)="clickExpand(item)" *ngIf="item.leaf && i == 0">
            ></button
          >{{ item.data[field] }}
        </td>
      </tr>
      <tr *ngIf="handleThis(item)">
        <th colspan="3"><app-table [node]="item?.children"></app-table></th>
      </tr>
    </ng-container>
  </tbody>
</table>
